*, *::before, *::after {
    box-sizing: border-box;
}

/*GLOBALS*/
html {
    font-size:62.5% ; /*macete para trabalhar com REM retirado de https://uxdesign.cc/why-designers-should-move-from-px-to-rem-and-how-to-do-that-in-figma-c0ea23e07a15 -- "62,5% tricK"*/
}
body {
    background-color: #D2D1CD;
}

h1,p {
    color: #010201;
}


/*GENIUS GAME*/

.geniusContainer {
    width: 70rem;
    margin: 0 auto;
}

.genius{
    width: 70rem;
    height: 70rem;
}

.genius--pads{
    display: flex;
    flex-wrap: wrap;
}

.genius--pads--toClick {
    cursor: pointer;
}


.pads--leftUp{
    width: calc(70rem / 2);
    height: calc(70rem / 2);
    border-top-left-radius: 100%;
    background-color: green;
}

.pads--leftDown {
    width: calc(70rem / 2);
    height: calc(70rem / 2);
    border-bottom-left-radius: 100%;
    background-color: yellow;
}

.pads--rightUp {
    width: calc(70rem / 2);
    height: calc(70rem / 2);
    border-top-right-radius: 100%;
    background-color: blue;
}

.pads--rightDown{
    width: calc(70rem / 2);
    height: calc(70rem / 2);
    border-bottom-right-radius: 100%;
    background-color: red;
}

.leftUp--clicked {
    background-color: lightgreen;
}

.leftDown--clicked{
    background-color: lightyellow;
}

.rightUp--clicked {
    background-color: lightblue;
}

.rightDown--clicked {
    background-color: pink;
}


